<div class="panel">
    <label>חפש:
<input type="text" placeholder="חפש...">
</label>
<select>
    <option disabled selected>בחר ספר</option>
    <option>קובי</option>
    <option>חזי</option>
</select>

<select>
    <option disabled selected>בחר יום</option>
    <option ></option>
</select>

</div>

<div class="all-users">
    <!--<p>זיהוי: {{cli.key}}</p>-->
    <table >
    <tr class="head">
        <th>יום</th>
        <th>נייד</th>
        <th>ספר</th>
        <th>שם</th>
        <th>שעה</th>
    </tr>
    <tr  class="sub" *ngFor="let cli of clientsList | keyvalue">
        <td  (dblclick)="start(prop.value,cli.key)" *ngFor="let prop of cli.value | keyvalue" >{{prop.value}}</td>
    </tr>
</table>
</div>
