.all-users{
    border: 1px solid black;
display: block;
align-items:  center top;
justify-content:center top;
flex-direction: row;
height: 300px;
width: 100%;
overflow: scroll;
}

th{
    border: 5px solid black;

}
td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
table{
    border: 1px solid red;

    width: 100%;
    height: auto;

}

.panel{
    width: 500px;
   justify-content: space-between;
   display: flex;
   flex-direction: row;
  border: 1px solid black;
  align-items: flex-start;
}