/* You can add global styles to this file, and also import other style files */
body{
    height:100%;
    width: 100%;
    align-items: center ;
    justify-content: center ;
    display: flex;
    background-color: lightblue;
}
