<div class="all">
    <p>קבע תור:</p>
    <form class="form" (ngSubmit)="approve()"> 
        <label for="fullname">שם:</label>
        <input type="text" id="fullname" [(ngModel)]="fullName" placeholder="הכנס שם מלא..." name="fullname" ><br>
        <label for="phonenumber">נייד:</label>
        <input type="tel number" id="phonenumber" [(ngModel)]="phoneNumber" placeholder="פלאפון נייד..." name="phonenumber">
        בחר ספר:<div class="barbers">
        <label>
        <input type="radio" (click)="onRadioChange1()" [(ngModel)]="selectedBarber" name="test" value="קובי">קובי</label>
        <label>
        <input type="radio" (click)="onRadioChange2()" [(ngModel)]="selectedBarber" name="test" value="חזי">חזי</label>
    </div><p>הספר שנבחר: {{selectedBarber}}</p>
    <select [disabled]="!selectedBarber" [(ngModel)]="selectedDay" name="day">
        <option value="" disabled selected >בחר יום</option>
        <option *ngFor="let day of days" [value]="day">{{day}}</option>
    </select>
    <p>היום שנבחר: {{selectedDay}}</p>
    <select [disabled]="!selectedDay" (click)="approveForm()" [(ngModel)]="selectedHour" name="hour">
        <option value="" disabled selected>בחר שעה</option>
        <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
    </select>
    <p>השעה שנבחרה: {{selectedHour}}</p>
    <input type="submit" >
    </form>
    </div>